/* TIPOGRAFIAS */

/*RECOLETA*/

@font-face {
  font-family: 'LttRecoleta';
  src: url('fonts/LttRecoleta/LttRecoleta-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'LttRecoleta';
  src: url('fonts/LttRecoleta/LttRecoleta-ExtraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'LttRecoleta';
  src: url('fonts/LttRecoleta/LttRecoleta-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'LttRecoleta';
  src: url('fonts/LttRecoleta/LttRecoleta-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'LttRecoleta';
  src: url('fonts/LttRecoleta/LttRecoleta-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'LttRecoleta';
  src: url('fonts/LttRecoleta/LttRecoleta-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'LttRecoleta';
  src: url('fonts/LttRecoleta/LttRecoleta-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'LttRecoleta';
  src: url('fonts/LttRecoleta/LttRecoleta-Black.otf') format('opentype');
  font-weight: 900;
}

/*BAMBINO*/

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BambinoNew';
  src: url('fonts/Bambino/BambinoNew-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/*para todo el sitio*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --verdeAP: #097d4c;
  --verdeoscuroAP: #0a2617;
  --cremaAP: #f1ead0;
}


/* === HEADER === */
.headerAP {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.franja-header {
  display: block;
  width: 100%;
  height: auto;
}

.contenido-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Botones */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 48px;
}

.nav-boton {
  font-family: 'LttRecoleta', serif;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
  color: var(--cremaAP);
  background-color: transparent;
  border: 2px solid var(--cremaAP);
  padding: 8px 24px;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

.nav-boton:hover {
  background-color: var(--cremaAP);
  color: var(--verdeAP);
}

/* logo-header centrado */
.boton-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}

.logo-header {
  max-height: 80px;
  display: block;
  border: none;
  background: none;
}


/* === FOOTER === */
.footerAP {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.franja-footer {
  display: block;
  width: 100%;
  height: auto;
}

/* Contenido encima de la franja */
.footer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  font-family: 'BambinoNew', serif;
  font-size: 15px;
  color: var(--cremaAP)
}

/* info izquierda: logo + texto */
.footer-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-logo {
  height: 48px;
}

.footer-texto p {
  margin: 0;
  line-height: 1.4;
}

/* redes derecha: iconos */
.footer-redes {
  display: flex;
  gap: 16px;
}

.iconos-redes {
  height: 32px;
  transition: transform 0.2s ease-in-out;
}

.footer-redes a:hover .iconos-redes {
  transform: scale(1.1);
}


/* === CONTACTO === */
#contacto {
  padding: 64px 32px;
  background-color: #f3f0e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

/* Imágenes */
.imagenes-contacto {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 960px;
}

.imagenes-contacto img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  flex: 1;
}

/*bloque de texto*/
.info-contacto {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
  font-family: 'bambinonew', serif;
  color: var(--verdeoscuroAP);
  font-weight: 500;
}


.info-contacto h1 {
  font-family: 'lttrecoleta', serif;
  font-size: 28px;
  color: var(--verdeAP);
  margin-bottom: 24px;
  font-weight: 600;
}


.info-contacto h2 {
  font-family: 'bambinonew', serif;
  font-size: 18px;
  color: var(--verdeoscuroAP);
  margin-bottom: 15px;
  font-weight: 700;
}


.horarios p {
  font-size: 18px;
  line-height: 1.6;
  margin: 4px 0;
  text-decoration: none;
}

.horarios-bloque2 {
  padding-top: 15px;
}

/*animación al pasar el mouse*/
.imagenes-contacto img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagenes-contacto img:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
